* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

header nav ul li {
    height: 70px;
    margin-right: 5px;
}

header nav ul li a {
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 15px;
}

header nav ul li:first-child {
    margin-right: auto;
    font-size: 1.7rem;
    font-weight: bolder;
}


header nav ul li a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    margin-right: 15px;
}

#burger span {
    width: 27px;
    background-color: black;
    height: 5px;
    border-radius: 5px;
}

.none {
    display: none !important;
}

.sideBar {
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
}


.sideBar li {
    width: 100%;
}


.sidebar li a {
    width: 100%;
}

@media (min-width: 650px){
    .none {
        display: block !important;
    }

    #burger {
        display: none !important;
    }
}


@media (min-width: 650px){
    .sideBar {
        display: none !important;
    }
}